.my_bg-aqua{
    background-color: #1abc9c;
}
.my_bg-darkblue{
    background-color: #2c3e50;
}
.my_bg-blue{
    background-color: #3a546d;
}
.my_h680{
    height: 680px;
}
.my_h300{
    height: 300px;
}
.my_container700{
    max-width: 700px;
}
#w700{
    max-width: 700px;
}
.my_fc-darkblue{
    color: #2c3e50;
}
.my_btn{
    padding: 0.25rem 1rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #1abc9c;
    color: white;
    transition: 0.2s;
}
.my_btn:hover{
    background-color: white;
    color: #1abc9c;
}
.my_download{
    padding: 0.25rem 1rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    transition: 0.2s;
}
.my_download:hover{
    border: 2px solid #1abc9c;
    background-color: white;
    color: #1abc9c;
}
.my_circle{
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
#line{
    max-width: 200px;
    border-radius: 50px;
}
.my_bd-blue{
    border: 2px solid #2c3e50;
}
.my_bd-white{
    border: 2px solid white;
}
#my_avatar{
    width: 400px;
    height: 400px;
}
.my_w300{
    max-width: 300px;
}
.my_input{
    display: block;
    width: 100%;
    padding: 0.375rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border:none;
    outline: none;
    border-bottom: 2px solid lightgray;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
